body {
    font-family: Arial, sans-serif;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    max-width: 200px;
}


/* Estilização do formulário */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .container {
        display: flex;
        align-items: center; /* Alinha verticalmente os itens no centro */
      }
      img {
        margin-right: 20px; /* Espaçamento entre a imagem e o texto */
        
      }

    p{
        font-size: 30px;
    }